@using DNA.Web.ServiceModel
@using DNA.Web
@using System.Web.Mvc
@using System.Xml.Linq
@using Resources
@helper Options(ContentListDecorator list)
{
    <div>
        <input type="checkbox" data-label="@Resources.Contents.IsPublished" name="IsPublished" checked="checked" value="True" />
    </div>
    if (list.AllowComments)
    {
    <div>
        <input type="checkbox" data-label="@Resources.Contents.AllowComments" name="AllowComments" checked="checked" value="True" />
    </div>
    }
    if (list.IsModerated && list.IsModerator(User.Identity.Name))
    {
    <div>
        <input type="checkbox" data-label="@Resources.Commons.Approved" name="IsApproved" checked="checked" value="True" />
    </div>
    }
}
@helper CategoriesAndTags(ContentListDecorator list, UrlHelper urlHelper)
{
    if (list.AllowCategoriesAndTags)
    {
    <div data-role="panel" data-closable="false" data-collapsed="true" id="category_tags_section">
        <h3>@Resources.Contents.CategoriesAndTags</h3>
        <div>
            <ul data-role="listview" data-display="mobile-list">
                @if (Context.User.IsWebMaster())
                {
                    <li data-role="fieldcontain">
                        <label data-inline="true" for="newcat">@Resources.Commons.Category</label>
                        <div data-inline="true">
                            <input type="text" id="newcat" placeholder="@(string.Format(Resources.Validations.Required_Format, Resources.Commons.Name))" />
                            <a data-role="button" style="margin: 0px 10px; width: 70px;" onclick="_addcat();">@Resources.Commons.Add</a>
                            <a data-role="button" data-icon-left="d-icon-trash" onclick="_delcat();" id="delcatbutton"></a>
                        </div>
                    </li>
                }
                <li data-readonly="true">
                    <div style="height: 250px; overflow: auto;">
                        @{
                var web = AppModel.Get().CurrentWeb;
                var xcat = web.Categories.HtmlElement();
                xcat.Descendants().AsParallel().ForAll(e => { e.Add(new XAttribute("data-expanded", "true")); });

                var el = new XElement("ul",
                    new XElement("li",
                        new XAttribute("data-id", "0"),
                        new XAttribute("data-expanded", "true"),
                        new XElement("span", string.IsNullOrEmpty(web.Title) ? web.Name : web.Title),
                        xcat
                    ));

                if (Context.User.IsWebMaster())
                {
                    el.AddHtmlAttributes(new
                    {
                        data_role = "tree",
                        data_singlepath = "false",
                        data_checkboxes = "true",
                        data_checked = "_getCheckedNodeValues();",
                        data_unselectable = "true",
                        data_drag_drop = "true",
                        data_dropped = "app.web.cats.move(ui.node.dataInt('id'), ui.targetNode.dataInt('id'));",
                        style = "padding-left: 10px; min-height: 200px;",
                        id = "catee"
                    });
                }
                else
                {
                    el.AddHtmlAttributes(new
                    {
                        data_role = "tree",
                        data_singlepath = "false",
                        data_checkboxes = "true",
                        data_checked = "_getCheckedNodeValues();",
                        data_unselectable = "true",
                        data_drag_drop = "false",
                        style = "padding-left: 10px; min-height: 200px;",
                        id = "catee"
                    });
                }
                        }
                        @MvcHtmlString.Create(el.OuterXml())
                        <input type="hidden" value="" name="Categories" id="Categories" />
                    </div>
                </li>
                <li data-role="fieldcontain">
                    <label for="Tags">@Resources.Commons.Tags</label>
                    <input type="text" name="Tags" id="Tags" placeholder="@Resources.Contents.SpliteTags"/>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">

        function _getCheckedNodeValues() {
            var keys = $('#catee').taoTreeview("getCheckedAttrs", "data-id");
            $("#Categories").val(keys.join(","));
        }
        @if (Context.User.IsWebMaster())
        {<text>
        function _delcat() {
            var selNode = $("#catee").taoTreeview("option", "selectedNode");
            if (selNode != null && selNode != undefined) {
                if (selNode.dataInt("id")) {
                    $.confirm("@(string.Format(Resources.Messages.ConfirmDelete_Format, Resources.Commons.Category))", "@Resources.Commons.Confirm")
                      .done(function () {
                          app.web.cats.remove(selNode.dataInt("id"))
                                                 .done(function () {
                                                     var _parentNode = selNode.parent().closest("li.d-node");
                                                     selNode.remove();
                                                     if (_parentNode.length)
                                                         $("#catee").taoTreeview("select", _parentNode);
                                                 });
                      });
                }
            }
        }

        function _addcat(wid) {
            var catInput = $("#newcat"),
                val = catInput.val(),
                selNode = $("#catee").taoTreeview("option", "selectedNode");

            if (selNode == null) {
                selNode = $($("#catee").children()[0]);
                $("#catee").taoTreeview("select", selNode);
            }

            parentId = selNode.dataInt("id");

            if (val) {
                catInput.val("");
                $.loading("Adding category");
                app.web.cats.add({ name: val, parentID: parentId })
                                       .done(function (data) {
                                           data.text = data.name;
                                           $("#catee").taoTreeview("add", data, selNode);
                                           $("#catee").taoTreeview("select", selNode);
                                       })
                                      .always(function () { $.loading("hide"); });
            } else
                catInput.focus();
        }
        </text>}
    </script>
    }
}
@helper Attachements(ContentListDecorator list)
{
    if (list.AllowAttachments)
    {
    <div data-role="panel" data-collapsed="true" data-closable="false">
        <h3>@Resources.Commons.Attachments</h3>
        <div>
            <ul id="_attachs"
                data-role="listview"
                data-display="mobile-list"
                data-inset="true"
                data-tmpl="attach_tmpl">
            </ul>
            <div style="padding: 10px;">
                <a data-role="button" data-inline="false" data-icon-left="d-icon-folder-open" style="overflow: hidden; position: relative;">@Resources.Commons.Add
                    <input type="file"
                        onchange="var item=__addAttach(event.target.files);$(this).clone(true).appendTo(item).attr('name','attachfiles').hide();"
                        size="200"
                        style="width: 100%; opacity: 0; position: absolute; top: 0px; left: 0px; height: 45px;" />
                </a>
            </div>
        </div>
    </div>
    <script type="text/x-jquery-tmpl" id="attach_tmpl">
        <li data-counter="${type}" data-link-icon="no" data-name="${name}">
            <a><span data-inline="true">${name}</span></a>
            <a data-icon="minus-2" onclick="$(this).parent().remove();"></a>
        </li>
    </script>
    <script type="text/javascript">
        function __addAttach(files) {
            for (var i = 0; i < files.length; i++) {
                var file = files.item(i),
                    item = $("#_attachs").taoListview("addItem", file);

                if (file.type.startsWith("image")) {
                    var reader = new FileReader();
                    reader.item = item;
                    reader.readAsDataURL(file);
                    reader.onload = function (e) {
                        var img = $("<img/>").addClass("d-inline").css({ "max-width": "32px", "max-height": "32px", "margin-right": "5px" });
                        this.item.children().first().prepend(img);
                        img[0].src = e.target.result;
                    };
                }

                item.mobilelistItem();
                return item;
            }
        }
    </script>
    }
}
