@model ContentQueryResult
<ul class="d-view d-view-mobi @Model.CssClass"  data-role="listview" data-display="mobile-list">
    @foreach (var dataItem in Model)
    {
        <li class="@dataItem.CssClass" id="@dataItem.ID" itemscope @if (!dataItem.IsPublished)
                                          {<text>data-counter="draft"</text>}>
            <a href="@Url.Content(dataItem.Url)" itemprop="url" class="d-link">
                @foreach (var field in Model.View.FieldRefs)
                {
                    if (field.IsHidden) { continue; }
                    if (field.IsLinkToItem)
                    { 
                        <h4 @field.Field.GetAttributes()>@dataItem[field.Name]</h4>
                        continue;
                    }

                    if (field.Field.FieldType == (int)ContentFieldTypes.Note) { 
                       <p @field.Field.GetAttributes()>@dataItem[field.Name]</p>
                        continue;
                    }
                    //Html.ForView(field.Name, dataItem);
                }
                @*   @if (dataItem.IsPublished){<p><time itemprop="datePublished" datetime="@dataItem.Published.ToString("yyyy-MM-ddThh:mm:ss")">@dataItem.Published</time></p>}*@
            </a>

            @if (dataItem.AllowEdit(Context))
            { 
                <a data-icon="edit" href="@Url.Content(dataItem.UrlForEdit)?returnUrl=@Request.Path" onclick="$.loading()" title="@Resources.Commons.Edit"></a>
            }
        </li>
    }
</ul>
