@model IEnumerable<ModuleDescriptor>
@{
    ViewBag.Title = "Modules";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@section Navs{
    <a data-role="button" 
        data-icon-left="d-icon-off"
        onclick="$.loading('@Resources.Installations.Restarting')"
        href="@Url.Action("Restart", "Sys", new { returnUrl = Request.RawUrl })"
        title="Restart"></a>
}
<ul data-role="listview" data-display="mobile-list" data-selectable="false" data-inset="true">
    @foreach (var sol in Model)
    { 
        <li data-link-icon="no" data-counter="v@(sol.Version)"><a>
            @if (!string.IsNullOrEmpty(sol.Icon))
            { 
                <img src="@sol.Icon" style="width:48px;height:48px;"/>
            }
            <h4><span>@(string.IsNullOrEmpty(sol.Title) ? sol.Name : sol.Title)</span> </h4>
            <p>@sol.Description</p>
        </a>
        </li>
    }
</ul>
