@model ContentFieldValue
@{
    var field = Model.Field as TextField;
}
<input  id="@(field.ClientID)" 
            name="@field.Name" 
            type="hidden"
            @field.GetValidationAttributes()
            value="@Model.Raw"
          />
<span class="d-inline">
    <span>@Model.Raw</span>
    <span data-role="button" 
    onclick="var el=$(this);$.folderDialog('@(string.Format(Resources.Messages.SelectFormat,Resources.NetDrives.Folder))','','@field.ClientID').done(function(url){ el.prev().text(url); });" 
    style="position: relative; width: 100px;">@Resources.Commons.Browse</span>
</span>
